{% extends "layouts/base-fullscreen.html" %}


{% block content%}
<body> 
    <!-- Hero Section -->
    <div class="hero-section heading-banner">
        <div class="row text-start" style="margin-bottom:50px;">
            <div class="col-12">
                <p style="font-family: Roboto;">
                    <a href="/index" style="color:white;" >Home </a> <i class="fa-solid fa-play" style="margin:5px;"></i> <b>My Dashboard</b>
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12" >
                <div class="shadow filtercardsborder details__content-tabs">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active navitemsmain" id="tab-1-tab" data-bs-toggle="tab" data-bs-target="#tab-1" type="button" role="tab" aria-controls="tab-1" aria-selected="true">
                                Subscriptions
                            </button>
                        </li>

                        <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Profile
                            </button>
                        </li>
                        <!--
                        <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Profile
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link navitemsmain" id="tab-2-tab" data-bs-toggle="tab" data-bs-target="#tab-2" type="button" role="tab" aria-controls="tab-2" aria-selected="false" tabindex="-1">
                                Change Password
                            </button>
                        </li> -->
                        

                    </ul>
    
                    <!-- Tab Content -->
                    <div class="tab-content p-3" id="myTabContent" style="background-color:#fff;">
                        <!-- Tab 1 Content -->
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1-tab">
                            <div class="row">
                                <div class="col-12" style="padding:20px;">
                                    {% if existing_requests %}
                                    {% for r,d in existing_requests %}
                                    
                                    {% if r.status_of_request == 'accepted' %}     
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#709f83;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-circle-check" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;">{{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">

                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3">Date of Approval<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.updated_date}}"></span></div>
                                                    <div class="col-4 bg-white text-black p-3"><a href="{{d.url}}" target="_blank"><button class="btn btn-warning">CLICK TO DOWNLOAD</button></a></div>
                                                </div>
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Remarks: </span>
                                                        <span style="font-family: Roboto-bold;">{{r.remarks}}</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif r.status_of_request == 'rejected' %}     
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#9f7670;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-ban" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;">{{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3">Date of Rejection<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.updated_date}}"></span></div>
                                                   
                                                </div>
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Remarks: </span>
                                                        <span style="font-family: Roboto-bold;">{{r.remarks}}</span>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% elif r.status_of_request == 'pending' %}
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Small width column for icon -->
                                            <div class="col-2 icon-col d-flex align-items-center" style="color:#000; text-align: center;">
                                                <div class="row" style="color:#bbba81;">
                                                    <div class="col-12">
                                                        <i class="fa-solid fa-hourglass-half" style="font-size:80px;"></i>
                                                    </div>
                                                    <div class="col-12" style="text-transform: uppercase;">
                                                        {{r.status_of_request}}
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                            <!-- Second column with two rows -->
                                            <div class="col" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        <span>Datastack Name: </span>
                                                        <span style="font-family: Roboto-bold;"> {{d.datastack_name}}</span>
                                                    </div>
                                                </div>

                                               
                                                <div class="row" style="border-top:1px solid rgb(215, 213, 213);">
                                                    <div class="col-4 bg-white text-black p-3">Date Requested<br><span id="formattedDates" style="font-family: Roboto-bold;" data-date="{{r.creation_date}}"></span></div>
                                                    <div class="col-4  bg-white text-black p-3"> <span style="color:rgb(0, 127, 231); font-family: Roboto-bold;">Please wait at least 24 hours for approval.</span></div>
                                                    <div class="col-4 bg-white text-black p-3"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="container mt-4" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
                                        <div class="row align-items-stretch">
                                            <!-- Second column with two rows -->
                                            <div class="col-12" style="text-align: left;">
                                                <div class="row">
                                                    <div class="col bg-white text-black p-3">
                                                        NO SUBSCRIPTIONS
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            
                                </div>
                                <hr>
                            </div>
                        </div>
    
                        <!-- Tab 2 Content -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2-tab">
                            <div class="row">
                                <div class="col-12">
                                    <div class="container">
                                        <p class="text-center">
                                        </p>
                                        <div class="row justify-content-center form-bg-image" data-background-lg="{{ config.ASSETS_ROOT }}/img/illustrations/login.jpg">
                                            <div class="col-12  align-items-center justify-content-center">
                                                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5">
                                                    <div class="text-center text-md-center mb-4 mt-md-0">
                                                        <h1 class="mb-0 h3">
                                                            Edit Profile
                                                        </h1>
                                                        <br />
                                                        <p style="color:#2fb0bf;">
                                                            {% if msg %}
                                                                {{ msg | safe }}
                                                            {% else %}
                                                                Edit your details
                                                            {% endif %}                                     
                                                        </p> 
                                                    </div>
                                                    
                                                    {% if success %}
                        
                                                        <div class="d-grid">
                                                            <a href="{{ url_for('authentication_blueprint.login') }}" 
                                                               class="btn btn-gray-800">Sign IN</a>
                                                        </div>
                        
                                                    {% else %}
                        
                                                        
                                                        
                                                        <form  method="post" action="" class="mt-4 formx">
                                                            {{ form.hidden_tag() }}
                                                            <div class="row">
                                                                <div class="col-md-6 mb-1">
                                                                    <div>
                                                                        <label for="first_name">First Name</label>
                                                                        <input class="form-control" id="first_name" name="first_name" type="text" placeholder="" disabled value="{{current_user.first_name}}">
                                                                    </div>
                                                                    <ul ><li style="font-size:10px;">First name cannot be changed</li></ul>
                                                                </div>
                                                                <div class="col-md-6 mb-1">
                                                                    <div>
                                                                        <label for="last_name">Last Name</label>

                                                                        <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Enter your last name" disabled value="{{current_user.last_name}}">
                                                                    </div>
                                                                    <ul ><li style="font-size:10px;">Last name can not be changed</li></ul>
                                                                </div>
                                                            </div>
                        
                                                            <div class="row align-items-center">
                                                                <div class="col-md-6 mb-1">
                                                                    <label for="date_of_birth">Date of Birth</label>
                                                                    <div class="input-group">
                                                                        <span class="input-group-text">
                                                                            <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
                                                                        </span>
                                                                        <input data-datepicker="" class="form-control datepicker-input" id="date_of_birth" name="date_of_birth" type="text" placeholder="dd/mm/yyyy" disabled value="{{current_user.date_of_birth}}">                                               
                                                                      </div>
                                                                </div>
                        
                                                                <div class="col-md-6 mb-1">
                                                                    <label for="type_of_organization">Type of Organization</label>
                                                                    <select class="form-select mb-0" aria-label="Type of organization" id="type_of_organization"  name="type_of_organization">
                                                                        <option selected>Choose...</option>
                                                                        <option value="Government">Government</option>
                                                                        <option value="Academic Institutes">Academic Institutes</option>
                                                                        <option value="R&D">R&D</option>
                                                                        <option value="Individuals">Individuals</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6 mb-1">
                                                                    <div class="form-group">
                                                                        <label for="name_of_organization">Name of organization</label>
                                                                        <input class="form-control" id="name_of_organization" name="name_of_organization" type="text" placeholder="Name of organization" disabled value="{{current_user.name_of_organization}}"> 
                                                                    </div>
                                                                    <ul ><li style="font-size:10px;">Organization name must contain at least one letter and can include letters, numbers, spaces, and special characters.</li></ul>
                                                                </div>
                                                                <div class="col-md-6 mb-1">
                                                                    <label for="country">Country</label>
                                                                    <select class="form-select mb-0" id="country" name="country" aria-label="Choose country">
                                                                        <option selected>Choose...</option>
                                                                        <option value="India">India</option>
                                                
                                                                    </select>
                                                                </div>
                                                            </div>
                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-1">
                                                                    <div class="form-group">
                                                                        <label for="address">Address</label>
                                                                        
                                                                        <input class="form-control" id="address" name="address" type="text" placeholder="Enter your home address" disabled value="{{current_user.name_of_organization}}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-1">
                                                                    <label for="gender">State</label>
                                                                    <select class="form-select mb-0" id="state" name="state" aria-label="Choose state">
                                                                        <option selected>Choose...</option>
                                                                        <option value="J&K">J&K</option>
                                                
                                                                    </select>
                                                                </div>
                                                            </div>
                        
                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-1">
                                                                    <div class="form-group">
                                                                        <label for="city_town">City/Town</label>
                                                                        
                                                                        <input class="form-control" id="city_town" name="city_town" type="text" placeholder="City/Town" disabled value="{{current_user.city_town}}">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 mb-1">
                                                                    <div class="form-group">
                                                                        <label for="city">Pincode</label>
                                                                        {{ form.pincode(placeholder="Pincode", class="input form-control", type="text") }}
                                                                        <!-- <input class="form-control" id="pincode" name="pincode" type="text" placeholder="Pincode" required=""> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            
                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-1">
                                                                    <div class="form-group">
                                                                        <label for="email">Your Email</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-text" id="basic-addon1">
                                                                                <span class="fas fa-envelope"></span>
                                                                            </span>
                                                                            {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                                                                        </div>  
                                                                    </div>
                                                                </div>
                        
                                                                <div class="col-md-6 mb-1">
                                                                    <label for="phone">Mobile number</label>
                                                                    <div class="input-group">
                                                                        <span class="input-group-text">
                                                                            +91
                                                                        </span>
                                                                        {{ form.phone(placeholder="(10 digits)", class="input form-control", type="text") }}
                                                                        <!-- <input class="form-control" id="phone" type="text" placeholder="(10 digits)" required="">                                                -->
                                                                      </div>
                                                                    <!-- <div class="form-group">
                                                                        <label for="phone">Mobile Number</label>
                                                                        <div class="row">
                                                                            
                                                                            <div class="col-2" style="width:20%;"><input class="form-control" id="ccode" type="text" placeholder="+91" disabled></div>
                                                                            <div class="col-10" style="width:80%;"><input class="form-control" id="phone" type="text" placeholder="(10 digits)" required=""></div>
                                                                        </div>
                                                                        
                                                                    </div> -->
                                                                </div>
                                                            </div>
                        
                                                            <div class="row">
                                                                <div class="col-md-6 mb-3">
                                                                    <label for="username">Set Username</label>
                                                                        <div class="input-group">
                                                                            <span class="input-group-text" id="basic-addon1">
                                                                                <span class="fas fa-user-circle"></span>
                                                                            </span>
                                                                            {{ form.username(placeholder="Username", class="form-control") }}
                                                                        </div> 
                                                                        <ul ><li style="font-size:10px;">Use at least 6 characters</li><li style="font-size:10px;">Use only letters and digits</li><li style="font-size:10px;">Do NOT use symbols or spaces</li></ul>
                                                                        
                                                                </div>
                                                                <div class="col-md-6 mb-3">
                                                                            <label for="password">Set Password</label>
                                                                        
                                                                            <div class="input-group">
                                                                                <span class="input-group-text" id="basic-addon2">
                                                                                    <span class="fas fa-unlock-alt"></span>
                                                                                </span>
                                                                                {{ form.password(placeholder="Password", class="form-control", type="password") }}
                                                                            </div> 
                                                                            <ul ><li style="font-size:10px;">Use at least 8 characters</li><li style="font-size:10px;">Use one uppercase, one numeric and one lowercase and one special character</li></ul>
                                                                </div>
                                                                <div class="mb-4 mt-4">
                                                                    <div class="form-check">
                                                                        <!-- <input class="form-check-input" type="checkbox" value="" id="remember"> -->
                                                                        <label class="form-check-label fw-normal mb-0 " for="remember">
                                                                            By submitting, I agree to the <a href="#" class="fw-bold"><a style="color:#0875bd;">Terms & Conditions</a> and <a style="color:#0875bd;">License of Usage</a>.
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                          
                                                            <div class="mt-3">
                                                                <div class="d-grid">
                                                                    <!--<button type="submit" name="edit-profile" class="btn btn-gray-800">Form</button>-->
                                                                    EDIT PROFILE IS CURRENTLY DISABLED
                                                                </div>
                                                                
                                                            </div>
                                                        </form>
                                                        <br />
                                                        
                                                    
                                                    {% endif %}
                        
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

    </div>
    <script>
        function formatDate(dateString) {
            let dateObj = new Date(dateString+'Z');  // Convert string to Date object
            
            let options = { year: 'numeric', month: 'long', day: 'numeric' };
            let formattedDate = dateObj.toLocaleDateString(undefined, options);

            let timeOptions = { hour: '2-digit', minute: '2-digit', hour12: true };
            let formattedTime = dateObj.toLocaleTimeString(undefined, timeOptions);

            return `${formattedDate} at ${formattedTime}`;
        }

        // Find the span and update its content dynamically
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[data-date]").forEach(el => {  
            let rawDate = el.getAttribute("data-date");  
            if (rawDate!=="")
                el.innerText = formatDate(rawDate);
            });
});
    </script>
    
    <!-- Search and Filter -->

    
    <!-- Data List (Placeholder) -->
    
    
    <!-- Opportunities Section -->
    <!-- <div class="container mt-5" id="opportunities">
        <h2 class="text-center">Entrepreneurship Opportunities</h2>
        <p class="text-center">Find government-supported schemes and private opportunities.</p>
    </div> -->
    
    <!-- Footer -->
{% endblock content %}  
    
   