{% extends "layouts/base-fullscreen.html" %}


{% block content %}
<body> 

    <!-- Hero Section -->
    <div class="hero-section heading-banner">
        <div class="row text-start" style="margin-bottom:50px;">
            <div class="col-12">
                <p style="font-family: Roboto;">
                    <a href="/index" style="color:white;" >Home </a> <i class="fa-solid fa-play" style="margin:5px;"></i> <b>Data & Services</b>
                </p>
            </div>
        </div>
        <div class="row text-start" >
            <div class="col-12">
                <h5 style="font-family: Roboto-Bold; color:white;">Data Catalogue</h5>
            </div>
        </div>
        <div class="row text-start">
            <div class="col-md-3">
                <label for="dropdown1" class="form-label" style="font-family: Roboto;">Districts</label>
                <select id="dropdown1" class="form-select" style="border-radius: 0; font-family: Roboto;">
                    <option value="All">All</option>
                      <option value="Jammu">Jammu</option>
                      <option value="Kathua">Kathua</option>
                      <option value="Samba">Samba</option>
                      <option value="Udhampur">Udhampur</option>
                      <option value="Reasi">Reasi</option>
                      <option value="Ramban">Ramban</option>
                      <option value="Doda">Doda</option>
                      <option value="Kishtwar">Kishtwar</option>
                      <option value="Poonch">Poonch</option>
                      <option value="Rajouri">Rajouri</option>
                      <option value="Srinagar">Srinagar</option>
                      <option value="Ganderbal">Ganderbal</option>
                      <option value="Budgam">Budgam</option>
                      <option value="Anantnag">Anantnag</option>
                      <option value="Kulgam">Kulgam</option>
                      <option value="Pulwama">Pulwama</option>
                      <option value="Shopian">Shopian</option>
                      <option value="Baramulla">Baramulla</option>
                      <option value="Bandipora">Bandipora</option>
                      <option value="Kupwara">Kupwara</option>
                </select>
            </div>
            <div class="col-md-3">
                
                <label for="dropdown2" class="form-label" style="font-family: Roboto;">Functionality</label>
                <select id="dropdown2" class="form-select" style="border-radius: 0; font-family: Roboto;">
                    <option value="All" selected>All</option>
                    <option value="employment_status">Employment Status & Workforce by Age Group, Gender and Districts</option>
                    <option value="education_skill">Education & Skill Readiness by Age Group, Gender and Districts</option>
                    <option value="student_profile">Student Profile & Education Levels across Districts</option>
                    <option value="social_economic">Social & Economic Profile</option>
                    <option value="business_profile">Business Profile by Sectors</option>
                    <option value="financial_aspects">Financial Aspects by financial health (Profitable vs Loss)</option>
                    <option value="training_needs">Training Needs by NIC Code</option>
                </select>
            </div>
            <!-- <div class="col-md-3">
                <label for="dropdown2" class="form-label" style="font-family: Roboto;">Data Corpus</label>
                <select id="dropdown2" class="form-select" style="border-radius: 0; font-family: Roboto;">
                    <option selected>Choose...</option>
                    <option value="1">Houshold Heads</option>
                    <option value="2">Individual Members</option>
                    <option value="3">Potential Entrepreneurs (Unemployed)</option>
                    <option value="3">Potential Entrepreneurs (Unregistered Activities)</option>
                    <option value="3">Potential Entrepreneurs (Employed)</option>
                </select>
            </div> -->
            <div class="col-md-3">
                <label for="dropdown3" class="form-label" style="font-family: Roboto;">Type of Individuals</label>
                <select id="dropdown3" class="form-select" style="border-radius: 0; font-family: Roboto;">
                    <option value="All">All Individuals</option>
                    <option value="pee">Potential Entrepreneurs Employed (PEE)</option>
                    <option value="peur">Potential Entrepreneurs Unregistered Activities (PEUR)</option>
                    <option value="peu">Potential Entrepreneurs Unemployed (PEU)</option>
                    <option value="nape">Not Applicable</option>
                  </select>
                  
            </div>
            <div class="col-md-3 d-flex align-items-end">
                <button type="submit" class="btn btn-primary w-100" style="font-family: Roboto;" id="data-filter-submit-btn">Submit</button>
            </div>
        </div>

    </div>
    
    <!-- Search and Filter -->

    
    <!-- Data List (Placeholder) -->
    <div class="container mt-4 mb-4">
        <div class="row" id="data-container">
            
        </div>
        <div class="row">
            <div class="col-12" style="background-color: #fafafa; padding:20px; border-radius:3px;">
                <nav>
                    <ul class="pagination justify-content-center" id="data-pagination-container"></ul>
                </nav>
            </div>
        </div>
        
    </div>


    

    
    <!-- Opportunities Section -->
    <!-- <div class="container mt-5" id="opportunities">
        <h2 class="text-center">Entrepreneurship Opportunities</h2>
        <p class="text-center">Find government-supported schemes and private opportunities.</p>
    </div> -->
    
    <!-- Footer -->
    <script src="{{ config.ASSETS_ROOT }}/js/view_datastacks.js"></script>
{% endblock content %}  
    
   